<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundBuzz</title>
</head>
<body>
<div id="root"></div>
<!-- webpack generate html -->
<%- partial('../../.tmp/public/index.html') %>
</body>
</html>
