.layout-fade-enter {
  opacity: 0;
  transform: scale(0.95) translateY(-15%);
  z-index: 1;
}

.layout-fade-enter.layout-fade-enter-active {
  opacity: 1;
  transform: scale(1) translateY(0%);
  transition: all 175ms cubic-bezier(0.0, 0, 0.2, 1);
}

.layout-fade-exit.layout-fade-exit-active {
  display: none;
  opacity: 0;
  transform: scale(0.95) translateY(-15%);
  transition: all 175ms cubic-bezier(0.4, 0, 1, 1);
  z-index: 0;
}

.no-transition-exit.no-transition-exit-active {
  opacity: 0;
  transform: none;
  transition: none;
  z-index: 0;
}
